/**/
body{
	background: url('../img/bg.png');
}

.content-container{
	margin-top: 15px;
}

.navbar .brand{
	height: 90px;
	line-height: 90px;
	padding: 0;
	margin: 0;
}

#logout{
	margin: 5px;
}

#logo{
	float: left;
	margin: 10px 20px -20px 5px;
}

#dashboard-status h3{
	height: 80px;
	line-height: 80px;
}

.navbar-inner{
	background: none;
	background-color: rgb(165, 55, 46);
	overflow: hidden;
}
/**/

body#login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="checkbox"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-signin input[type="checkbox"]:focus {
  z-index: 2;
}
.form-signin input[type="text"],
.form-signin input[type="checkbox"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login label{
	display: inline-block;
	margin-right: 1px;
}

#safestart{
	display: inline-block;
}

/* Dashboard */
body#dashboard{
	padding-top: 80px;
	overflow-y: scroll;
}

#dashboard-loading{
	line-height: 60px;
	margin-left: 10px;
}

#alarm-updates-list-loader{
	display: none;
	height: 60px;
	background: url('../img/loader.gif') center center no-repeat;
}

.groupmember-statusses-table-group-heading{
	font-weight: bold;
	background-color: #111 !important;
}

.groupmember-statusses-table td:hover{
	cursor: pointer;
}

.groupmember-statusses-alarming-user{
	background: #a90329; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */
}

.groupmember-statusses-alarming-user:hover{
	background: #8B2931
}

.content-block{
	margin-top: 20px;
	padding: 10px;

	background-color: #333;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#map-canvas{
	width: 100%;
	height: 400px;
}

#map-canvas img { 
	max-width: none;
}

#map-canvas label { 
	width: auto; display:inline; 
} 

hr{
	margin: 10px 0;
	border-color: #444;
}

#alarm-updates-list{
	list-style-type: none;
	margin: 0;
	margin-top: 20px;
	padding: 4px;
	overflow: auto;
}

#alarm-updates-list li{
	padding: 2px 0;
	border-bottom: 1px solid #CCC;
	float: left;
	overflow: auto;
	width: 100%;
}

.alarm-updates-list-time{
	margin-right: 5px;
}

.list-icon{
	float: left;
	margin: 0px 15px 5px 5px;
}

#groupstatusses-container p{
	margin-top: 20px;
	text-align: center;
}

/* Realtime overlay */
#realtime-content-container textarea{
	display: block;
	width: 90%;
	height: 100px;
}

/* Send alarm form */
#send-alarm-form-container{
	display: none;
	padding: 10px;
	margin: 5px;
	border: 2px solid #F00;
}